In [10]:
import requests
import pandas as pd
import numpy as np
import talib

def check_trend_change(prices):
    # Calculate the 50-day and 200-day moving averages
    ma_50 = talib.SMA(prices, timeperiod=50)
    ma_200 = talib.SMA(prices, timeperiod=200)
    print(ma_200)
    if ma_50[-1] > ma_200[-1] and ma_50[-2] <= ma_200[-2]:
        return True  # Trend has changed from bearish to bullish
    elif ma_50[-1] < ma_200[-1] and ma_50[-2] >= ma_200[-2]:
        return True  # Trend has changed from bullish to bearish
    else:
        return False  # No trend change

def analyze_bottom_price(prices, rsi_period=14, rsi_oversold_threshold=30):
    # Calculate the RSI indicator
    rsi = talib.RSI(prices, timeperiod=rsi_period)

    # Check if the current RSI is below the oversold threshold
    if rsi[-1] < rsi_oversold_threshold:
        return True  # Current price is considered the bottom price
    else:
        return False  # Current price is not the bottom price

def check_symbols_kline(symbol, interval, limit):
    url = f'https://contract.mexc.com/api/v1/contract/kline/{symbol}?interval={interval}&limit={limit}'
    #     # time_step = 'Day1' # 合约的参数：间隔: Min1、Min5、Min15、Min30、Min60、Hour4、Hour8、Day1、Week1、Month1，不填时默认Min1

    response = requests.get(url)
    data = response.json()
    df=[]
    try:
        df = pd.DataFrame(data['data'], columns=['time', 'open', 'low', 'high', 'close'])
        df.index = pd.to_datetime(df.time, unit='s', utc=True).map(lambda x: x.tz_convert('Asia/Hong_Kong'))
    except Exception as error:
        print(symbol,'error ', error)

    return df

# API endpoint for historical k-line data

# Parameters for the request
params = {
    "symbol": "btc_usdt",  # Replace with the desired trading pair
    "interval": "1d",      # Replace with the desired time interval (e.g., 1d, 1h, 15m)
    "limit": 1000          # Number of data points to retrieve (max: 1000)
}


df = check_symbols_kline('BTC_USDT', 'Day1', int(200) + 200)



# Convert the closing prices to a numpy array
prices = np.array(df["close"])

# Check if the trend has changed
trend_change = check_trend_change(prices)

# Analyze if the current price is the bottom price
bottom_price = analyze_bottom_price(prices)

print("Trend Change:", trend_change)
print("Bottom Price:", bottom_price)

[       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan 27545.4665 27556.922  27562.891  27568.437  27578.297
 27583.547  27590.7925 27599.078  27605.1865 27618.4385 27633.7565
 27648.5815 27664.1635 27681.2585 27695.729  27712.1935 27736.459
 27760.3185 27780.9865 27801.8345 27823.715  27846.414  27876.1245
 27906.466  27936.0215 27961.161  27975.0215 27986.356  28004.8225
 28017.258  28017.4135 28021.6775 28018.92   28019.971  28019.23
 28022.57   28019.0415 28018.753  28015.848  28009.7975 28008.486
 28006.42   28000.426  28002.7805 28002.4145 28001.731  28004.4105
 28013.7315 28022.422  28031.5595 28056.8185 28086.95   28119.7635
 28148.987  28170.3375 28189.845  28213.1145 28233.72   28254.711
 28280.497  28303.7635 28330.166  28353.6955 28384.848  28418.9855
 28459.7575 28498.8635 28544.5815 28593.746  28638.123  28681.5705
 28716.707  28748.0015 28791.3715 28826.1615 28868.9985 28908.62
 28950.408  28993.5915 29024.825  29067.6995 29112.075  29162.3085
 29213.09   29262.3655 29313.758  29368.896  29424.267  29478.331
 29535.8745 29597.9255 29660.845  29736.763  29822.8205 29906.233
 29989.049  30075.898  30158.531  30246.0115 30320.0575 30394.1815
 30474.3465 30549.2335 30620.456  30693.4925 30764.48   30843.8285
 30919.181  31002.4515 31086.4215 31177.845  31260.371  31343.784
 31429.414  31509.7665 31597.902  31681.352  31762.3535 31843.6345
 31929.6245 32022.8455 32116.0645 32197.768  32286.8455 32373.4225
 32451.76   32521.387  32606.8675 32684.088  32764.7825 32844.1835
 32906.82   32967.636  33026.002  33086.3775 33149.741  33210.79
 33264.329  33316.8955 33371.5725 33427.0285 33475.4925 33523.3025
 33572.348  33621.3755 33678.4235 33735.8925 33794.155  33853.3845
 33916.509  33977.9295 34042.202  34107.482  34173.2155 34236.589
 34301.0995 34367.038  34439.7445 34515.738  34605.5005 34698.082
 34792.9155 34896.5655 34998.5515 35110.972  35224.114  35338.753
 35448.6445 35563.6735 35676.8405 35792.822  35906.9225 36018.128
 36125.968  36235.184  36346.1435 36471.483  36609.778  36775.1135
 36934.6635 37099.7195 37263.9755 37436.296  37644.7295 37833.2565
 38033.4545 38236.925  38447.249  38658.8275 38871.74   39101.687
 39328.9465 39564.563  39791.4025 40008.619  40196.873  40402.661
 40611.3225 40792.2145 41002.253  41204.196 ]
Trend Change: False
Bottom Price: False

In [7]:
df

                                 time     open      low     high    close
time
2023-05-27 08:00:00+08:00  1685145600  26690.1  26531.0  26888.8  26842.0
2023-05-28 08:00:00+08:00  1685232000  26842.0  26747.1  28250.0  28055.0
2023-05-29 08:00:00+08:00  1685318400  28055.0  27514.7  28441.7  27722.1
2023-05-30 08:00:00+08:00  1685404800  27722.1  27534.0  28038.8  27680.1
2023-05-31 08:00:00+08:00  1685491200  27680.1  26824.7  27823.7  27201.1
...                               ...      ...      ...      ...      ...
2024-03-17 08:00:00+08:00  1710633600  65350.9  64566.0  68964.5  68448.0
2024-03-18 08:00:00+08:00  1710720000  68448.0  66606.1  69024.3  67660.0
2024-03-19 08:00:00+08:00  1710806400  67660.0  61591.0  68177.7  61974.1
2024-03-20 08:00:00+08:00  1710892800  61974.1  60818.8  68140.2  67863.6
2024-03-21 08:00:00+08:00  1710979200  67863.6  66106.7  68294.1  66383.4

[300 rows x 5 columns]